<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" href="sign.css">


  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Basic|Fjalla+One|Fredoka+One|Fruktur|Rock+Salt|Voltaire" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Basic|Cantarell|Fjalla+One|Fredoka+One|Fruktur|Rock+Salt|Voltaire" rel="stylesheet">

</head>
<body>
  <span>
    <button class="button1" onclick="location.href='/friendrequests'"> Friend Request</button>
    </span>
  <h1><%= user %> , Here are all the users </h1>
  <div>
  <ul class="User">
   <%var uname = user %>

  <% for(var i=0; i<member.length; i++) {%>
    <li class="User">

      <span><%= member[i].name %></span>
      <%var not_friend=0;%>
      <%if(member[i].friends.length!==undefined) {%>

      <%for(var j=0;j<member[i].friends.length; j++){%>
               <%if(member[i].friends[j]==uname) {%>
                   <br>
                   <span>
                   <button class="button" onclick="location.href='/viewme/<%= member[i].name %>'">View Me!</button>
                    </span>
                   <% not_friend=1%>
                   <% break; %>

              <%}%>
      <%} %>
      <%} %>

    <%if(not_friend==0) {%>
      <br>
      <span>
        <button class="button" onclick="location.href='/addme/<%= member[i].name %>'">Add Me!</button>
        </span>
   <%}%>

    </li>
  <% } %>

  </ul>
</div>

  <span><h3>Upload Images </h3><br><pre>
    <button class="button" onclick="location.href='/upload'">GO</button>
    </span>

  </pre>

  <span><br><pre>
    <button class="button" onclick="location.href='/logout'">Log Out</button>
    </span>

  </pre>

</body>
</html>
