@import url(http://fonts.googleapis.com/css?family=Montserrat);


* {margin: 0; padding: 0;}

html {
	height: 100%;

	background:
		linear-gradient(rgba(250,133,0,0.6),rgba(243,255,15, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
	margin:0 auto;
}

#details {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#details fieldset {
	background:white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;


	position: relative;
}

#details fieldset:not(:first-of-type) {
	display: none;
}

#details input, #details textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#details .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#details .action-button:hover, #details .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.form-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
    padding-bottom:25px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.header{
        text-align:center;
       font-family: 'Voltaire', sans-serif;
        font-size: 45px;

    }
    a{
        text-decoration: none;
        color:black;

    }
div{

	background-color: #ff5050;
	width: 300px;
    height: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 50px;
}
h1{
	text-align: center;
}
li{

	line-height:250%;

}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
		height: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 3500%;
    padding-left: 260%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.button1 {
    position: absolute;
    background-color: #4CAF50;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
		height: 45px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button1:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 3500%;
    padding-left: 260%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
